@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

  }

  .btn-custom {
    background-color: #699BF7;
    color: rgb(0, 0, 0);
    border: none;
}